:host {
  display: block;
  position: absolute;
  top: 0;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition-delay: 0s;
}

.file-ctrl-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;

  svg {
    width: 15px;
    height: 15px;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: translateY(1px);
  }
}
